{%- capture android_version -%}
{%- case version -%}
    {% when 13.0 %}
        Android 9
    {% when 14.0 %}
        Android 10
    {% when 15.0 %}
        Android 11
    {% when 16.1 %}
        Android 12
    {% when 17.0 %}
        Android 13
    {% when 17.1 %}
        Android 13
    {% when 18 %}
        Android 14
    {% when 19 %}
        Android 15
	{% when 20 %}
		Android 16
	{% when 21 %}
		Android 17
	{% when 22 %}
		Android 18
{%- endcase -%}
{%- endcapture -%}
{%- assign android_version = android_version | strip -%}
{{ version }} {% if android_version != '' %}({{ android_version }}){% endif -%}